*{
    margin: 0;
    padding: 0;
}
h1,h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    position: relative;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}
.nav-item{
    padding: 0 8px;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 47%;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 47%;
}
.height{
    min-height: 90vh;
    align-items: center;
}
.height h4{

color: #008ed6;

font-size: 16px;

text-transform: uppercase;

letter-spacing: 2px;
}
.height h1{
    
color: #fff;
    
font-size: 50px;
    
margin: 20px 0px;
}
.height p{
    
color: #999999;
}
.btn-download{

background: #008ed6;

color: #fff;

text-transform: uppercase;

font-size: 14px;

padding: 0;

padding: 13px 20px;

margin-top: 50px;
border: 1px solid transparent;
}
.btn-download:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #999;
}
.btn-features{
    
background: transparent;
    
color: #fff;
    
font-size: 14px;
    
text-transform: uppercase;
    
border: 1px solid #999;
    
padding: 0;
    
padding: 13px 20px;
    
margin-left: 20px;
    
margin-top: 50px;
}
.btn-features:hover{
    background: #008ed6;
    color: #fff;
    border: 1px solid #008ed6;
}
.phone{
    position: absolute;
    bottom: 0;
    right: 10%;
}

.testimonial{
    background-image: url(../images/testimonial-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.testimonial p{

color: #fff;

font-style: italic;

margin-bottom: 20px;
}
.clien{

display: flex;

align-items: center;
}
.client_img{

/* width: 100px; */

margin-right: 20px;
}
.client_des{

}
.client_des h4{
    
color: #fff;
    
font-size: 16px;
}
.client_des h3{
    
color: #fff;
    
font-size: 18px;
}

/* owl carousel css */

.owl-dots .owl-dot span{
    display: block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #f9f9f9;
}
.owl-dots .active span{
    display: block;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50px
}
.owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: none;
}
.owl-dots .owl-dot{
    margin: 10px;
}

.owl-prev span{
    color: #fff;
    font-size: 30px;
}
.owl-next span{
    color: #fff;
    font-size: 30px; 
}
.owl-next{
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
}
.owl-prev{
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
}
.owl-carousel{
    position: relative;
}
.owl-prev{
    color: #fff !important;
}
.owl-next{
    color: #fff !important;
}

.pricing_section{

padding: 70px 0;
}
.heading{

text-align: center;
}
.heading h1{
    
text-transform: capitalize;
    
font-size: 30px;
}
.heading h5{
    
font-size: 16px;
    
margin-bottom: 10px;
}
.heading span{
    
display: block;
    
margin: auto;
    
width: 50px;
    
height: 2px;
    
margin-top: 20px;
position: relative;
}
.heading span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}
.heading span::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}
.price_table{

border: 1px solid #999999;

text-align: center;

/* padding: 0px 20px; */
}
.price_table h2{
    
text-transform: uppercase;
    
font-size: 24px;
    
padding: 15px 0;
    
border-bottom: 1px solid #999;
transition: .2s all ease-in-out;
}
.price{
    border-bottom: 1px solid #999;
    padding: 20px 0;
    transition: .2s all ease-in-out;
}
.price h1{
    
font-size: 50px;
}
.price h1 sup{
    
font-size: 30px;
}
.price h6{
    
font-weight: 400;
    
color: #999;
transition: .2s all ease-in-out;
}
.price_table p{
    
padding: 20px;
    
color: #999;
}
.btn-buy{
    
border: 1px solid #999;
    
margin-bottom: 30px;
    
margin-top: 15px;
transition: .2s all ease-in-out;
}
.pricing_section:hover .heading span::after, .pricing_section:hover .heading span::before{
    width: 47%;
}
.price_table:hover h2{
    color: #008ed6;
}
.price_table:hover .price{
    background-color: #008ed6;
    color: #fff;

}
.price_table:hover .price h6{
    color: #fff;
}
.price_table:hover .btn-buy{
    color: #fff;
    background-color: #008ed6;
}

.contact_section{

background: #ededed;

padding: 70px 0;

padding-bottom: 300px;

position: relative;
}
.info{

text-align: center;
}
.info i{
    
}
.info p{
    
}
.contact_section:hover .heading span::after, .contact_section:hover .heading span::before{
    width: 47%;
}
.contact_form{

background: #000;

padding: 50px;

position: absolute;

width: 700px;

bottom: -100px;

left: 50%;

transform: translateX(-50%);
}
.contact_form form{
    
text-align: end;
}
.contact_form form input{
    
background: transparent;
}
.contact_form form textarea{
    
background: transparent;
}
.contact_form form input[type="submit"]{
    
background: #008ed6;
    
padding: 7px 20px;
    
color: #fff;
}
footer{
    background-color: #000;
    height: 100px;
}
iframe{
    display: block;
}

.particles-js-canvas-el{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}